#cartDetail {
  margin-bottom: 1rem;
  display: flex;
}

.cartDetailImgWrapper {
  width: 8rem;
  height: 8rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cartDetailWrapper {
  margin-left: 0.5rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
