@import "../sass/_variables.scss";

#errorPage {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .errorAnimation {
    width:8rem;
  }
  .errorBtn {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: $primary-color;
    border-radius: 0.5rem;
    cursor: pointer;
    a {
      color: white;
    }

    &:hover {
      background-color: $fourth-color;
      
    }
  }
}

#errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px solid $fourth-color;
  width: 13rem;
  height: 21rem;
  padding: 0.5rem 1rem;
  color: $fourth-color;

  h6, p {
    color: $fourth-color;
    text-align: center;
  }

  h6 {
    margin-bottom: 1rem;
  }


  .errorIcon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

}

#errorBox {
  width: 100%;
  height: 22rem;
  border: 1px solid lightGray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .errorImgWrapper {
    width: 200px;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;}
  }

    .errorContent {
      text-align: center;
  
    }
}

@media screen and (min-width: 768px){
 #errorPage {
  .errorAnimation {
    width: 10rem;
  }
 }

 #errorBox {
  flex-direction:row ;

  .errorImgWrapper {
    width: 250px;
    height: 250px;
    margin:0 1rem ;
  }
 }
}