.introCard {
  width: 50vw;
  height: 40vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introImgWrapper {
  width:40vw;
  display: flex;
  img {
  width: 100%;
  border-radius: 50%;
  margin: auto;
}
}

.introTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  div {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
.introImgWrapper {
  width: 30vw;
}
  
}

@media screen and (min-width: 1024px) {
  .introImgWrapper {
      max-width: 15rem;
    }
  .introCard {
      max-height: 45vh;
    }
}