.loadingSection {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;

}

.loadingAnimation {
  width: 80px;
}

.loadingText {
  font-size: 10px;
  color: gray;
}

@media screen and (min-width: 768px){
 .loadingAnimation {
    width: 150px;
 }
 .loadingText {
   font-size: 12px;
 }
}

@media screen and (min-width: 1024px) {
  .loadingAnimation {
    width: 100px;
  }

  .loadingText {
    font-size: 10px;
  }
}