$font-style: Helvetica, sans-serif;
$primary-color: #1A4D2E;
$secondary-color: #F5EFE6;
$third-color: #E8DFCA;
$fourth-color: #4F6F52;
$font-color: #272727;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;


#bannerSection {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.bannerWrapper {
  width: 100%;
  height: 50vh;
  background-image: url("/src/assets/banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .textWrapper {
    position: absolute;
    top:2rem;
    right: 5rem;
    text-wrap: wrap;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;

    p{
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
}

#introSection {
  width: 100%;
  max-height: 100vh;
  background-color: $secondary-color;
}

.aboutShop {
  padding:3rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
}

.aboutImg {
  width: 30vw;
  max-height: 40vh;
  margin: 0 1rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }
}

.contentWrapper {
  width: 50vw;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

}

.aboutMacrame {
  margin: 1rem 0;
}

.introWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .titleWrapper {
   display: flex;
   margin-bottom: 1rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h2 {
     font-size: 1.5rem;
   }
 }

#allProducts {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: $font-color;
    background-color: $third-color;
    padding: 0.5rem;
    margin: 1rem 0;

    &:hover,
      &:active {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      }
  }
}

.displayProduct {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 640px){
  .displayProduct {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px){
.displayProduct {
    grid-template-columns: repeat(4, 1fr);
  } 
}

@media screen and (min-width: 1028px){
  #bannerSection, #introSection, #allProducts {
    width: 80%;
  }
  .bannerWrapper{
      height: 60vh;
    .textWrapper {
        position: absolute;
        left: 2rem;
        top: 6rem;
    
        p {
          color: white;
          font-weight: 700;
          font-size: 2rem;
        }
    
      }
  }

  .displayProduct {
      grid-template-columns: repeat(5, 1fr);
  }
}
  