$font-style: Helvetica, sans-serif;
$primary-color: #1A4D2E;
$secondary-color: #F5EFE6;
$third-color: #E8DFCA;
$fourth-color: #4F6F52;
$font-color: #272727;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;


#bannerSection {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.bannerWrapper {
  width: 100%;
  height: 50vh;
  background-image: url("/src/assets/banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .textWrapper {
    position: absolute;
    top:2rem;
    right: 5rem;
    text-wrap: wrap;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;

    p{
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
}

#introSection {
  width: 100%;
  max-height: 60vh;
  background-color: $secondary-color;
}


.introWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .titleWrapper {
   display: flex;
   margin-bottom: 1rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h2 {
     font-size: 1.5rem;
     margin-top: 3rem;
   }
 }

#allProducts {
  border:1px solid red;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: $font-color;
    background-color: $third-color;
    padding: 0.5rem;
    margin: 1rem 0;
  }
}

.displayProduct {
  border:1px solid green;
  width: 80%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media screen and (min-width: 768px){
.displayProduct {
 
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 1rem;
  }
  
}

@media screen and (min-width: 1028px){
    .bannerWrapper{
      width: 80%;
      height: 60vh;

    .textWrapper {
        position: absolute;
        left: 2rem;
        top: 6rem;
    
        p {
          color: white;
          font-weight: 700;
          font-size: 2rem;
        }
    
      }
    }
  }
  