$font-style: Helvetica, sans-serif;
$primary-color: #1A4D2E;
$secondary-color: #F5EFE6;
$third-color: #E8DFCA;
$fourth-color: #4F6F52;
$font-color: #272727;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;

#orderProgressPage{
  height: 100%;
  width: 100%;
  position: relative;

  .displayComponents {
    min-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.progressBar {
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 5rem;
    border:1px solid $fourth-color;
    &.active {
      background-color: $fourth-color;
      p {
          color: white;
        }
    }
    
  }
}

//confirm items in shopping cart
#orderConfirm {
border: 1px solid $fourth-color;
background-color: $secondary-color;
padding: 1rem;
margin: 3rem 1rem;
display: flex;
flex-direction: column;
  h3 {
  font-size: 1.5rem;
  text-align: center;
  }
  h4, span {
    font-size: 1rem;
    text-align: center;
  }

  .totalPrice {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items:end;
    line-height: 1.5;

    h4 {
      font-size: $font-size-md;
    };
  }
 
}

//payment form
#orderPayment{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 5rem 1rem;

  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
    .btnsWrapper {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      a {
        color:$font-color;
        display: flex;
        align-items: center;
      }
      button {
        background-color: $fourth-color;
        color: white;
        padding: 0.5rem 1rem;
      }
    }
  }

  .paymenetSelectWrapper {
    width: 100%;
    .paymentLabel {
        text-align: left;
        font-size: $font-size-sm;
      }
    
      .paymentSelect {
        border: none;
        border-bottom:2px solid $fourth-color;
        width: 100%;
        height: 2rem;
        margin-top: 1rem;

        &:active, &:focus,
        &:hover {
          background-color: $fourth-color;
          color: white;
        }
      }
  }
  
}

// shopping cart section
#shoppingCartPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;


  .shoppingCartWrapper {

    padding: 1rem;
    position: relative;


    .clearAllBtn {
      background-color: transparent;
      font-size: 14px; 
      position: absolute;
      top: 0;
      right: 0;
      padding:0.5rem 1rem;
      display: flex;
      align-items: center;
    }

    .displayOrderItems {
      margin-top: 3rem;
    }
  }

  .stepControlWrapper {
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    a {
      color: $font-color;
      font-size: 14px;
      &.backToProductPageBtn{
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.confirmOrderBtn {
        background-color: $fourth-color;
        padding: 0.5rem 1rem;
        color: white;
      }
    }
   
  }

.emptyCartWrapper {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin:2rem 0 ;
  }

  .linkGroup {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    a {
      padding: 0.5rem 1rem;
      background-color:transparent;
      border: 1px solid $fourth-color;
      color: $font-color;

      &:hover {
        background-color: $fourth-color;
        color: white;
      }
    }
  }

  .recommendItemsWrapper {
    margin: 8rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h5 {
      font-size: $font-size-md;
      margin-bottom: 1rem;
    }
  }

    .emptyCartIcon {
      color: gray;
      margin: 2rem 0;
    }

  }
}

// submit form confirm section
#submitFormConfirm {
  padding: 1rem;
  margin: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 1.5rem;
    text-align: center;
  }
.submitFormData {
  width: 60%;
  line-height: 2.5;
  p {
    font-size: $font-size-md;
    span {
      color:red;
    }
  }
}
a, button {
  border:1px solid $fourth-color;
  background-color: transparent;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  color:$font-color ;
  &:hover {
    background-color: $fourth-color;
    color: white;
  }
}

}

@media screen and (min-width: 768px){
#confirm {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items:first baseline;
  justify-content: center;
}
#orderConfirm {
width: 40%;
}
#orderPayment, #submitFormConfirm {
  width: 60%
}
}

@media screen and (min-width: 1024px){
  #orderProgressPage,#shoppingCartPage {
    max-width: 1200px;
    margin: 2rem 0;
  }
}


