$font-style: Helvetica, sans-serif;
$primary-color: #1A4D2E;
$secondary-color: #F5EFE6;
$third-color: #E8DFCA;
$fourth-color: #4F6F52;
$font-color: #272727;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;



section {
  margin-bottom: 2rem;
}

#detailSection {
  padding: 1rem;
}

.productCard {
  padding: 1.5rem 1rem;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailImgWrapper {
  width: 15rem;
  height: 15rem;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contentWrapper {
  width: 20rem;
  padding: 2rem;
  margin: 0.5rem;
  h2 {
    font-size: 1.5rem;
  }
  h3{
    font-size: $font-size-md;
    margin:0.5rem 0;
  }
    .notificationNote {
      border: 1px solid gray;
      color: gray;
      width: 5rem;  
      padding: 0.2rem;
      text-align: center;
    }

}

.description {
  padding: 0.5rem 0;
  margin: 1rem 0;
  line-height: 1.5;

  p {
    &.size {
      margin-top: 1rem;
      span {
        font-weight: bold;
        margin-right: 0.5rem;
      }
    }
  }
  
}

.addToCart {
  display: flex;
  flex-direction: column;
  
  .productColorWrapper {
    display: flex;
    margin-top: 0.5rem;
    select {
      &.alert {
        border: 1px solid red;
      }
     
    }
    p {
      margin-right: 1rem;
    }
  }
  }

  .btnGroup {
    margin-top: 1rem;
    display: flex;
    align-items:last baseline;

    .addQty {
      margin-right: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      .qty {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        button {
          background-color: transparent;   
        }
        .icon {
          color: $font-color;
          font-size: 1.5rem;
        }
            
        
      }
      .addBtn {
        background-color: $primary-color;
        color: white;
        height: 2rem;
        margin-top: 0.5rem;
      }
    }

    .favProductBtn {
      align-self: flex-end;
      background-color: transparent;
    }
        #filledHeart {
          color: rgb(191, 32, 32);
        }
  }


    h3 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

  .productNoti {
    margin: 2rem 0;
    position: relative;
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div.content {
      padding: 1rem 2rem;
      border:3px solid $secondary-color;
      border-radius: 0.5rem;
      ul li {
        list-style: outside;
        line-height: 2;
      }
    }
    a {
        color: $fourth-color;
      }
  }

  #recommendCards {
    border:1px solid red;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  

@media screen and (min-width: 768px){
  
  .productCard{
    flex-direction: row;
    padding: 2rem;
  }

  .contentWrapper {
    width: 60%
  }

    .detailImgWrapper {
      width: 30rem;
      height: 30rem;
    }

    .description {
      margin: 3rem 0;
    }

}


@media screen and (min-width: 1024px){
  #productDetail {
  max-width: 1200px;
  }

   
}
