$font-style: Helvetica, sans-serif;
$primary-color: #1A4D2E;
$secondary-color: #F5EFE6;
$third-color: #E8DFCA;
$fourth-color: #4F6F52;
$font-color: #272727;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;



.productCardWrapper {
  border: 1px solid;
  padding: 0.5rem;
  position: relative;
  width: 15rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.productImgWrapper {
  width: 15rem;
  height: 15rem;
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 &:hover {
   &::before {
     animation: hoverAnimation 0.5s;
     content: "more";
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     width: 15rem;
     height: 15rem;
     background-color: rgba(0, 0, 0, 0.5);

   }
 }
}



.productInfoWrapper {
  margin-top: 0.5rem;
  width: 100%;
  font-size:$font-size-md;
  p {
    margin: 0.5rem 0;
  }
 
}

.productCategory {
  border:1px solid rgb(155, 155, 155);
  width: 5rem;
  height: 1.5rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

 .productIconWrapper {
  color: $font-color;
  position: absolute;
  bottom: 1.8rem;
  right: 1rem;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
 #filledHeart {
   color: rgb(188, 24, 24);
 }
 }

 @keyframes hoverAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}