@import "../sass/_variables.scss";

.recommendItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

@media screen and (min-width: 768px){
  .recommendItemWrapper {
   flex-direction: row;
   justify-content: space-between;
  }
}