$font-style: Helvetica, sans-serif;
$primary-color: #1A4D2E;
$secondary-color: #F5EFE6;
$third-color: #E8DFCA;
$fourth-color: #4F6F52;
$font-color: #272727;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;

.recommendItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

@media screen and (min-width: 768px){
  .recommendItemWrapper {
   flex-direction: row;
   justify-content: space-between;
  }
}