@import "../sass/_variables.scss";

#userPage {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem 0;

}
.userInfoWrapper {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  align-items: center;

  h3 {
    margin: 0 0.2rem;
  }

  .userImageWrapper {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

.switchPageBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  ul {
    width: 100%;
    height: 3rem;
    display:flex;
  
    li {
      padding: 0 1rem;
      width: 50%;
      height: 100%;
    button {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid $third-color;

     &.active {
      background-color: $third-color;
  }
  }
  }
}}

.switchPageSection {
  width: 100%;
  min-height: 50vh;
  margin: 3rem 0;
}

.userOrderList{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .orderWrapper {
    width: 100%;
    margin-top: 1rem ;

    table {
        border: 1px solid gray;
        width: 100%;
        .tableTittle {
          background-color: $third-color;
        }
      }
    
      .showOrderDetail {
        margin: 0.5rem 0;
        width: 100%;
        
        button {
          background-color: transparent;
          border-bottom: 1px solid gray;
          
        }
        .orderDetailsWrapper {
          padding: 0.5rem;
          margin-top: 0.5rem;
        

          h5 {
              padding: 1rem;
              text-align: center;
            }

            h6 {
              margin-bottom: 0.5rem;
            }

          .itemDetail, .orderDetail {
            width: 100%;
            background-color: $third-color;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            align-items: left;
            padding:1rem 0;
          }

          .itemDetail {
            width: 100%;
      
           
            .item {
              margin-bottom: 0.5rem;
              padding: 1rem;
            
            }

            .sumPrice {
              border-top: 1px solid gray;
              padding: 1rem;
             

              span {
                font-weight: 700;
                margin-left: 0.5rem;
              }

              .payAmount {
                span {
                  color: rgb(117, 20, 20);
                }
              }
            }
          }

          .orderDetail {
            .detail {
              padding: 1rem;
            }

            .payment, .shipping {
              padding: 1rem 0;
            }

            
          }

          
        }
      }
  }
 
}

.userFavItem {
  margin: 2rem 1rem;

  h3 {
    text-align: center;
    margin: 1rem 0;
  }

  .favItem {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (min-width: 640px){
  .userFavItem {
    .favItem {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  
}

@media screen and (min-width: 768px){
.orderDetailsWrapper {
  width: 100%;
  display: flex;
 justify-content: space-between;

  .itemDetail {
    width: 40%;
    margin: 0 1rem;
    }

    .orderDetail {
      width: 20%;
      margin: 0 1rem;
    }
}
}


@media screen and (min-width: 1024px){
  #userPage {
    max-width: 1200px;
  }
}